@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
}

body {
  background-color: #ffffff;
  color: #0f172a;
  font-family: system-ui, -apple-system, BlinkMacSystemFont;
}
